.table-container {
  overflow: scroll;
  -webkit-box-shadow: 0 6px 6px -6px #777;
  -moz-box-shadow: 0 6px 6px -6px #777;
  box-shadow: 0 6px 6px -6px #777;

  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  table td,
  table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  table tr {
    background-color: $white;
  }

  table tr td:first-child {
    background-color: #f2f2f2;
  }

  table tr:hover {
    background-color: #f2f2f2;
  }

  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $green;
    color: $white;
  }

  .chevron {
    position: relative;
    top: 4px;
    left: 8px;
    font-size: 18px;
    margin-right: 2px;
  }

  th {
    white-space: nowrap;
  }

  thead th:first-child,
  tbody tr td:first-child {
    left: 0;
    z-index: 1;
    position: sticky;
  }
}
